.login {
    background: linear-gradient(150deg,#4c79d3 44.9%, #fff 45%) no-repeat fixed;;
    background-attachment: scroll;
}

.app {
    background: linear-gradient(150deg,#fff 44.9%, #4c79d3 45%) no-repeat fixed;;
    
}

.color-primary {
    color: #4e0070;
}

.color-secondary {
    color: #4c79d3;
}

.icon-detail {
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.info {
    margin-bottom: 48px;
    padding-bottom: 22px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    padding: 20px 0px 0px 0px;
}

header {
    border-bottom: 1px solid #bebcbc;
    padding: 5px;
    background-color: #fff;
}

.text-login {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.coins {
    position: absolute;
    bottom: 100px;
}

.button-login {
    border-radius: 10px;
    background-color: #4e0070;
    color: #fff;
    width: 50%;
    margin: 0 25%;
}

.button-login:hover, .button-default:hover   {
    background: #4c79d3;
    color: #fff;
}

.button-default {
    border-radius: 10px;
    background-color: #4e0070;
    color: #fff;
}

.button-float {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: fixed;
    padding: 0 !important;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px;
    background-color: #4e0070;
    color: #fff;
    border: 2px solid #4e0070;
}

.button-trash-float {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: fixed;
    padding: 0 !important;
    bottom: 1rem;
    right: 8rem;
    font-size: 35px;
    color: #fff;
    border: 2px solid #4e0070;
}

.button-float:hover {
    border: 2px solid #4c79d3;
    background-color: #fff;
    color: #4c79d3;
}

.button-cancel {
    border-radius: 10px;
}

.button-default:hover {
    background: #4c79d3;
    color: #fff;
}

.link-default {
    color: #4e0070;
    cursor: pointer;;
}

.link-default:hover {
    color: #4c79d3;
}

.logout {
    min-width: 5rem !important;
}

.menu {
    margin-right: 20px;
    
}

.date-text {
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}

.value-text {
    font-size: 2rem; /* padrão (fs-2) */
}



@media (min-width: 768px) {
    .login {
        background: linear-gradient(110deg, #4c79d3 44.9%, #fff 45%) no-repeat;
        background-attachment: scroll;
    }
}

@media (max-width: 430px) {
    .value-text {
        font-size: 1.25rem; /* fs-4 */
    }
}